/* 
   !CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
nav,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
footer,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

nav {
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

div#settingsPopUp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55vmin;
    min-height: 48vmin;
    background: rgb(255, 255, 255);
    z-index: 10;
    cursor: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#popUpBackground {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 9;
}

div#settingsPopUp p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    padding: 0.7rem 0;
    text-align: center;
}

div#settingsPopUp p:first-of-type {
    padding-top: 0;
}

div#settingsPopUp input {
    width: 48vmin;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #e0e0e0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ff70a6;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff70a6;
    cursor: pointer;
  }

div#colorOptions {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    justify-content: center;
}

div#colorOptions>div {
    width: 9vmin;
    height: 9vmin;
    cursor: pointer;
}

div#colorOptions>div:nth-of-type(1) {
    background-color: #70d6ff;
}
div#colorOptions>div:nth-of-type(1):hover {
    background-color: #51c3f0;
}

div#colorOptions>div:nth-of-type(2) {
    background-color: #ff70a6;
}
div#colorOptions>div:nth-of-type(2):hover {
    background-color: #f16098;
}

div#colorOptions>div:nth-of-type(3) {
    background-color: #ff9770;
}
div#colorOptions>div:nth-of-type(3):hover {
    background-color: #f78860;
}

div#colorOptions>div:nth-of-type(4) {
    background-color: #ffd670;
}
div#colorOptions>div:nth-of-type(4):hover {
    background-color: #f6c752;
}

div#colorOptions>div:nth-of-type(5) {
    background-color: #e9ff70;
}
div#colorOptions>div:nth-of-type(5):hover {
    background-color: #def753;
}

div#buttonsOptions {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.85rem;
}

div#buttonsOptions button {
    width: 24.1vmin;
    border: 0;
    padding: 0.5rem;
}

div#buttonsOptions a button {
    background-color: #8a8a8a;
    color: white;
    cursor: pointer;
}

div#buttonsOptions a button:hover {
    background-color: #797979;
}

div#buttonsOptions>button {
    background-color: #eaeaea;
    cursor: pointer;
}

div#buttonsOptions>button:hover {
    background-color: #d5d5d5;
}

nav ul li:nth-of-type(1) {
    background: url(assets/svg/refresh_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: contain;
}

nav ul li:nth-of-type(2) {
    background: url(assets/svg/settings_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: contain;
}

div#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e0e0;
    width: 85vmin;
    height: 85vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.gridSq {
    width: 2.5%;
    height: 2.5%;
    border: 1px dotted black;
}

.noDisplay {
    display: none!important;
}